.experience_container {
    text-align: center;
    padding: 40px;
    background-color: "#262626";
  }

  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    padding-left: 2.5rem;
  }

  .experience_heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #353535;
  }
  @media (max_width: 768px) {
    .card-container {
      flex-direction: column;
    }
  }